<div class="relative w-screen h-screen flex bg-black">
  <!-- Scanner -->
  <zxing-scanner
    (torchCompatible)="flashlightCompativel = $event"
    class="!flex max-h-screen w-full fixed top-1/2 -translate-y-1/2"
    [torch]="flashlightStatus"
    [formats]="allowedFormats"
    (camerasFound)="handleCamerasFound($event)"
    [device]="selectedCamera"
    (scanSuccess)="handleScanCodigo($event)"
    (scanError)="handleScanError($event)"
    [delayBetweenScanSuccess]="15000"
  ></zxing-scanner>

  <!-- Máscara escura ao redor do scanner (agora com um buraco quadrado fixo) -->
  <div class="fixed inset-0 mask-overlay pointer-events-none"></div>

  <!-- Quadrado fixo no centro com a listra animada -->
  <div
    class="fixed w-[250px] h-[250px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center"
  >
    <!-- Linha vermelha animada -->
    <div
      class="absolute top-0 left-0 w-full h-[2px] bg-red-500 animate-scan"
    ></div>
  </div>

  <!-- Botões Fixos na Tela -->
  <div
    class="fixed bottom-[10vh] left-1/2 -translate-x-1/2 flex items-center gap-10"
  >
    @if (flashlightCompativel) {
    <button
      (click)="flashlightStatus = !flashlightStatus"
      mat-icon-button
      aria-label="Lanterna"
      class="!w-16 !h-16 !bg-secondary !text-white !flex !items-center !justify-center"
    >
      <mat-icon>{{
        flashlightStatus ? "flashlight_on" : "flashlight_off"
      }}</mat-icon>
    </button>
    } @if (alternarCameraDisponivel) {
    <button
      (click)="alternarCamera()"
      mat-icon-button
      aria-label="Alternar Câmera"
      class="!w-16 !h-16 !bg-secondary !text-white !flex !items-center !justify-center"
    >
      <mat-icon>flip_camera_android</mat-icon>
    </button>
    }
  </div>
</div>
