<div class="flex flex-col min-h-screen">

    <app-header title="PWR Coletor">

    </app-header>
    <!-- Main Content -->
    <main class="flex-grow flex justify-center items-center bg-background">
        <button mat-flat-button routerLink="/coleta/balanco"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-6 rounded-full shadow-lg flex items-center gap-2 transition">
            <span class="material-icons text-3xl">photo_camera</span>
            <span class="font-lato">Coletar Estoque</span>
        </button>
    </main>
</div>