<header
  class="bg-primary shadow-md py-4 px-6 flex justify-between items-center z-20 h-20 sticky"
>
  @if (showBack()) {
  <button
    mat-button
    (click)="goBack()"
    aria-label="Voltar"
    class="p-2 !text-white"
  >
    <span class="material-icons">arrow_back</span>
  </button>
  } @if (title()) {
  <h1 class="text-xl font-semibold text-white mx-auto">{{ title() }}</h1>
  }

  <!-- Espaço para botões personalizados -->
  <div class="flex gap-2">
    <ng-content></ng-content>
  </div>
</header>
