<div
  class="hover:bg-blue-100 transition-bg duration-200 flex items-center justify-between p-6 hover:cursor-pointer"
  matRipple
  (click)="handleEdit()"
>
  <div class="flex flex-col justify-between items-start">
    <p class="text-lg font-medium">{{ codigo() }}</p>
    <p class="text-md text-gray-500">{{ nome() }}</p>
  </div>

  @if(balancoId()) {
  <div class="text-xl flex items-center justify-start gap-1">
    <div class="flex gap-1 items-end leading-none">
      <input
        #inputQtd
        [readonly]="!editandoQuantidade"
        matInput
        type="number"
        [min]="0"
        (keydown)="handleKeydown($event)"
        (blur)="handleBlur()"
        [(ngModel)]="quantidade"
        class="!text-end !font-semibold !max-w-5 !w-5"
      />
      <span class="text-sm text-gray-500 w-5">{{ unidade() }}</span>
    </div>
  </div>
  } @else {
  <span class="text-sm text-gray-500 w-5">{{ unidade() }}</span>
  }
</div>
