<div class="flex flex-col min-h-screen">
  <app-header [showBack]="true" title="Produtos importados" />

  <main class="flex-grow bg-background flex flex-col">
    <!-- Barra de Pesquisa -->
    <div class="p-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Pesquisar produto</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="filtro"
          (input)="onSearchChange($event)"
          placeholder="Digite o nome ou código do produto"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <mat-list class="!p-0">
      @for(produto of produtosPaginados; track produto.id) { @defer (on
      viewport) {
      <mat-list-item class="!h-auto !p-0">
        <app-coleta-item
          [nome]="produto.nome"
          [codigo]="produto.codigo"
          [unidade]="produto.unidade"
        />
      </mat-list-item>
      @if (!$last) {
      <mat-divider />
      } }@placeholder {
      <div class="flex items-center justify-between p-6">
        <div class="flex flex-col justify-between items-start">
          <!-- Skeleton para código -->
          <ngx-skeleton-loader
            class="w-24 h-6 mb-2"
            borderRadius="4px"
          ></ngx-skeleton-loader>
          <!-- Skeleton para nome -->
          <ngx-skeleton-loader
            class="w-40 h-4"
            borderRadius="4px"
          ></ngx-skeleton-loader>
        </div>

        <div class="text-xl flex items-center justify-start gap-1">
          <!-- Skeleton para botão de editar -->
          <ngx-skeleton-loader
            class="w-10 h-10"
            borderRadius="50%"
          ></ngx-skeleton-loader>

          <div class="flex gap-1 items-end leading-none">
            <!-- Skeleton para input de quantidade -->
            <ngx-skeleton-loader
              class="w-16 h-8"
              borderRadius="4px"
            ></ngx-skeleton-loader>
            <!-- Skeleton para unidade -->
            <ngx-skeleton-loader
              class="w-5 h-4"
              borderRadius="4px"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      } }
    </mat-list>

    <!-- Paginação -->
    <mat-paginator
      [length]="produtosFiltrados.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="mudarPagina($event)"
      showFirstLastButtons
    ></mat-paginator>
  </main>
</div>
