<h2 mat-dialog-title class="!font-sans !font-semibold">Importar dados</h2>
<mat-dialog-content class="!flex !flex-col">
  <p class="text-md mb-4">
    Escolha a base de produtos que deseja importar. Certifique-se de que o
    arquivo está no formato correto. Caso tenha dúvidas, baixe o exemplo
    <a
      href="exemplo.csv"
      download="exemplo.csv"
      class="text-primary decoration-none underline visited:!text-primary"
      >aqui</a
    >.
  </p>
  <div
    matRipple
    (click)="triggerFileInput()"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    class="!flex-grow border-3 hover:cursor-pointer border-dashed border-secondary rounded-md p-4 flex items-center flex-wrap gap-2 bg-secondary/20 text-secondary"
  >
    <mat-icon
      class="!m-auto !items-center !flex !justify-center !text-[4rem] !w-25 !h-20"
      >cloud_upload</mat-icon
    >
    <p class="text-md font-medium text-center">
      Arraste & solte ou clique para importar sua base de produtos. O arquivo
      deve estar no formato .csv e ter no máximo 4MB.
    </p>
    <input
      class="hidden"
      #fileInput
      accept=".csv"
      (change)="onFileSelected($event)"
      type="file"
    />
  </div>
  @if(selectedFilename()) {
  <div class="bg-background rounded-md p-4 w-full mt-5">
    <div class="flex justify-between items-center">
      <div class="text-lg font-medium">
        {{ selectedFilename() }}
        <span class="ml-2 text-sm font-medium text-gray-500">{{
          fileSize()
        }}</span>
      </div>
      <button mat-icon-button (click)="handleDeleteFile()">
        <mat-icon class="!text-red-500">delete</mat-icon>
      </button>
    </div>
  </div>
  }@else {
  <p class="mt-5 py-2 text-lg font-medium text-grey-700">
    Nenhum arquivo selecionado
  </p>
  }
</mat-dialog-content>
<mat-dialog-actions class="upload-actions">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="importarDados()"
    [disabled]="!selectedFilename()"
  >
    Importar
  </button>
</mat-dialog-actions>
