<h2 mat-dialog-title class="!font-sans !font-semibold">Importar dados</h2>
<mat-dialog-content class="!flex !flex-col">
  <p class="text-md mb-4">
    Escolha a base de produtos que deseja importar. Certifique-se de que o
    arquivo está no formato correto. Caso tenha dúvidas, baixe o exemplo
    <a
      href="exemplo.csv"
      download="exemplo.csv"
      class="text-primary decoration-none underline visited:!text-primary"
      >aqui</a
    >.
  </p>
  <div
    matRipple
    (click)="triggerFileInput()"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    class="!flex-grow !overflow-visible border-3 hover:cursor-pointer border-dashed border-secondary rounded-md p-4 flex items-center flex-wrap gap-2 bg-secondary/20 text-secondary"
  >
    <mat-icon
      class="!m-auto !items-center !flex !justify-center !text-[4rem] !w-25 !h-20"
      >cloud_upload</mat-icon
    >
    <p class="text-md font-medium text-center">
      Arraste & solte ou clique para importar sua base de produtos. O arquivo
      deve estar no formato .csv e ter no máximo 4MB.
    </p>
    <input
      class="hidden"
      #fileInput
      accept=".csv"
      (change)="onFileSelected($event)"
      type="file"
    />
  </div>

  <div
    class="bg-background rounded-md p-4 w-full mt-5 mb-4 min-h-20 flex items-center justify-between"
  >
    <div class="flex justify-between items-center w-full">
      @if(selectedFilename()) {
      <div class="text-lg font-medium">
        {{ selectedFilename() }}
        <span class="ml-2 text-sm font-medium text-gray-500">{{
          fileSize()
        }}</span>
      </div>
      <button mat-icon-button (click)="handleDeleteFile()">
        <mat-icon class="!text-red-500">delete</mat-icon>
      </button>
      }@else {
      <div class="text-lg font-medium">Nenhum arquivo selecionado</div>
      }
    </div>
  </div>
  <label class="text-lg text-black" id="importar-em-label"
    >Importar dados em:</label
  >
  <mat-radio-group
    aria-labeledby="importar-em-label"
    class="flex flex-col mb-2"
    [(ngModel)]="addTo"
  >
    <mat-radio-button value="new">Novo balanço</mat-radio-button>
    <mat-radio-button value="existent">Balanço existente</mat-radio-button>
  </mat-radio-group>
  @if(addTo() === 'existent') {
  <mat-form-field class="w-full">
    <mat-label>Escolha um balanço</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="balancoSelecionado"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions(); track option) {
      <mat-option [value]="option">{{ option.nome }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  }@else {<mat-form-field class="w-full">
    <mat-label>Nome do novo balanço</mat-label>
    <input
      matInput
      #balancoNome
      [(ngModel)]="balancoSelecionado"
      maxlength="256"
      placeholder="Nome para o novo balanço"
    /> </mat-form-field
  >}
</mat-dialog-content>
<mat-dialog-actions class="upload-actions">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="importarDados()"
    [disabled]="!selectedFilename() || !balancoSelecionado()"
  >
    Importar
  </button>
</mat-dialog-actions>
