<div class="flex flex-col min-h-screen">
  <app-header [showBack]="true" title="Escolha um balanço">
    <button
      (click)="adicionarNovoBalanco()"
      matTooltip="Adicionar novo balanço"
      mat-icon-button
      aria-label="Adicionar Balanço"
      class="!flex !items-center !justify-center !text-white !font-lato"
    >
      <mat-icon>add</mat-icon>
    </button>
  </app-header>
  <main class="flex-grow bg-background">
    <mat-list class="!p-0">
      @for(balanco of balancos; track balanco.id) {
      <mat-list-item class="!h-auto !p-0">
        <app-balanco-item
          [dataCriacao]="balanco.dataCriacao"
          [id]="balanco.id"
          [nome]="balanco.nome"
          [quantidadeProdutos]="balanco.produtos.length"
        />
      </mat-list-item>
      @if (!$last) {
      <mat-divider />
      } }
    </mat-list>
  </main>
</div>
