.blur-overlay {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    /* Escurece a área borrada */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 45%, transparent 45%, transparent 55%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, transparent 20%, transparent 80%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
}

zxing-scanner {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }