<div class="min-h-screen flex flex-col bg-gray-100 relative overflow-hidden">
    <app-header [showBack]="true" title="Coletar Produto" />

    <main class="flex-grow flex flex-col items-center justify-center p-4 relative" (click)="openDialog()">
        <div class="absolute inset-0 flex items-center justify-center">
            <zxing-scanner class="w-full h-full max-w-screen-md"></zxing-scanner>
        </div>

        <!-- Overlay com blur e escurecimento, exceto o centro (retângulo) -->
        <div class="absolute inset-0 pointer-events-none blur-overlay">
            <div class="absolute top-1/2 left-1/2 w-64 h-40 transform -translate-x-1/2 -translate-y-1/2 bg-transparent">
            </div>
        </div>
    </main>
</div>